@import 'normalize.css';
@import 'grid.scss';
@import './stars.scss';

$spacing: 1rem;
$text: #fff;
$border: #fff;
$borders: 1px solid $border;
$radius: 4px;
$accent: #a0ffdf;
$background: radial-gradient(70.5% 68.5% at 50% 15%, #cadca3 2%, rgba(146, 200, 132, 0.88) 14%, rgba(107, 174, 133, 0.75) 26%, rgba(83, 146, 127, 0.63) 38%, rgba(61, 119, 114, 0.5) 50%, rgba(40, 94, 100, 0.38) 62%, rgba(22, 69, 84, 0.25) 74%, rgba(0, 2, 92, 0) 98%), linear-gradient(0deg, #232169 0%, #213466 8.4%, #22426c 16.8%, #215075 25.2%, #156c89 42%, #2b7d88 53.6%, #3f8d89 65.2%, #529e8a 76.8%, #80bf78 100%);
$solid: #121727;
$overlay: rgba($solid, 0.33);
$gradient: linear-gradient(52deg, #dbe0fa 1%, #cbe9f8 25.75%, #a2f7f2 50.5%, #ddf7ce 100%);
$font: 'Atkinson Hyperlegible', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$title: 'Carter One', 'Impact', sans-serif;
$shadows: $spacing $spacing rgba($accent, 0.5);

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: $background;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: none;
    font-family: $font;
    color: $text;
    position: relative;

    &:after {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $overlay;
        content: "";
    }
}

.container {
    padding: 0 calc($spacing * 2) 0 $spacing;
    margin: $spacing auto;
    text-align: center;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: calc($spacing * 2);
    margin-bottom: calc($spacing * 2);
}

.block {
    background-color: $solid;
    border: $borders;
    display: block;
    padding: $spacing;
    border-radius: $radius;
}

.shadow {
    box-shadow: $shadows;
}

.block.overlay {
    background-color: $overlay;
}

.flex {
    display: flex;
    gap: $spacing;
    flex-wrap: wrap;
}

.col {
    flex-direction: column;
}

.navigation {
    border-bottom: $borders;
    padding: $spacing;
    flex-wrap: wrap;
}

.nav-toggle {
    display: none;
}

.nav-toggle ~ .toggled {
    display: none;
}

.nav-toggle:checked ~ .toggled {
    display: flex;
}

.navbar {
    flex-direction: column;
    gap: calc($spacing * 0.5);
    list-style-type: none;
    padding: 0;
    text-align: left;
    padding-top: $spacing;
    border-top: $borders;
    margin: 0;
    width: 100%;
    font-size: 1.1rem;
}

.title {
    font-size: 2.5rem;
    align-self: center;
    background: $gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $title;
}

.nav-label {
    cursor:pointer;
    margin-left: auto;
    height: min-content;
    font-weight: bold;
}

a, a:hover {
    color: $accent;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.infobox {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blurb {
    margin: 0;
    border-left: $borders;
    padding-left: $spacing;
    text-align: left;
    flex: 1;
    display: flex;
    gap: $spacing;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;

    * {
        margin: 0;
    }
}

.pfp {
    max-height: 100px;
    object-fit: cover;
    border-radius: $radius;
}

.bold {
    font-weight: bold;
}

.header {
    padding: calc($spacing * 0.5);
    margin: calc($spacing * -1);
    border-radius: $radius $radius 0 0;
    margin-bottom: 0;
    background-color: $text;
    border-bottom: 3px solid $solid;
    outline: 1px solid $border;
    color: invert($text);
    > * {
        margin: 0;
    }
}

.footer {
    justify-content: center;
}

@media (min-width: 400px) {
    .infobox {
        flex-direction: row;
    }

    .pfp {
        max-width: 100px;
        align-self: stretch;
    }
}

@media (min-width: 840px) {
    .container {
        width: 70%;
        max-width: 900px;
        padding: 0;
    }

    .toggled {
        display: flex !important;
    }

    .navbar {
        flex-direction: row;
        border-top: none;
        width: auto;
    }

    .nav-label {
        visibility: hidden;
    }

    .slim {
        max-width: 80%;
        margin: 0 auto;
    }
}