<script lang="ts">
	import Block from "$lib/components/Block.svelte"
    import { page } from "$app/stores"
</script>

<Block>
    <h2 slot="header">{$page.error.code ? `${$page.error.code}: ` : ""} {$page.error.message}</h2>
    <p>Looks like something went horribly, awfully wrong. Welp! Let's hope that doesn't happen again!</p>
</Block>
