<script lang="ts">
    import "$lib/style.scss"
	import Navigation from "$lib/components/Navigation.svelte";
</script>

<div class="star-container">
    <div class="stars"></div>
    <div class="stars2"></div>
    <div class="stars3"></div>
</div>
<div class="container">
    <Navigation />
    <slot/>
    <div class="flex footer">
        <span><a href="https://codeberg.org/fulmine/pals-gay">Source Code</a> · <a href="https://liberapay.com/Fulmine/">Donate</a></span>
    </div>
</div>