<script lang="ts">
	import Block from "$lib/components/Block.svelte";
import Infobox from "$lib/components/Infobox.svelte";
	import type { PageData } from "./$types";

    export let data: PageData;
</script>

<Block>
    <h2 slot="header">Welcome!</h2>
    <p>Hi, we're the PALS! We're multiple people (like 300+!) in one body. This is our silly website with silly blog posts and a silly layout where we write about silly stuff.</p>
    <Infobox name={data.phrase.name} pfp={data.phrase.pfp} color={data.phrase.color} phrase=" comments:" >
        <p>{data.phrase.text}</p>
    </Infobox>
    <p>We're planning on putting more stuff in here at one point. Most notably an about page and contact page. But that's pretty boring.</p>
    <p>Now what you <i>really</i> should be excited about is whenever we get around to writing our blog posts. Mostly will be nonsense. Sometimes there might be something valuable in there!</p>
</Block>

<Block>
    <h3 slot="header">F.A.Q.</h3>
    <h4>Q. What do you mean 300+ people in one body?</h4>
    <p>A. We have Dissociative Identity Disorder™️ which kind of makes our life difficult. It also means that we get to have brain roommates.</p>
    <h4>Q. Isn't 300+ people kinda a lot??</h4>
    <p>A. Yeah it is!</p>
    <h4>Q. Give me your indepth and heartwrenching notebook about your trauma so I can decide for you whether you get to have DID, please.</h4>
    <p>A. I'd rather eat drywall.</p>
    <h4>Q. Your stance on [x] discourse??</h4>
    <p>A. 50% chance that we are on the side you are on. 90% chance it leans on the side of inclusive. 0% chance it actually matters too much irl.</p>
    <h4>Q. Can I ask some <i>non-invasive</i> questions?</h4>
    <p>A. Yeah sure. We're polyfragmented DID, are an adult (20 years old), and bigender as hell. We're also neurodivergent. Our favorite drink is apple juice and the vast, vast majority of our fronters are dragons.</p>
</Block>

<svelte:head>
    <title>PALS</title>
    <meta property="og:title" content="PALS.GAY" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pals.gay/" />
    <meta property="og:image" content="/favicon.png" />
    <meta property="og:description" content="This is our silly website with silly blog posts and a silly layout where we write about silly stuff." />
    <meta name="theme-color" content="#3470d1">
</svelte:head>