<script lang="ts">
    export let pfp: string = "https://media.discordapp.net/attachments/806247982307213382/954810401923682334/systemlogo.png?width=375&height=375";
    export let name: string = "PALS";
    export let phrase: string = " says:";
    export let color = "";

    let pfpStyle: string = color ? `border: 1px solid #${color}` : "";
</script>

<div class="infobox block overlay flex">
    <img class="pfp" style={pfpStyle} src={pfp} alt={`A portrait of ${name}`} />
    <div class="blurb">
        <p class="bold">{name}{phrase}</p>
        <slot />
    </div>
</div>