<nav class="navigation flex block shadow">
    <a class="title" href="/">PALS</a>
    <label for="nav-toggle" class="nav-label">Expand</label>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <ul class="navbar toggled">
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>